body{
    text-align: center;
}

.Content{
    width: 300px;
    height: 150px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 1em;
}

.red{
    background-color: red;
}

.blue {
    background-color: lightblue;
}

.yellow{
    background-color: yellow;
}

.flexContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
}


.flexContainerSplit{
    all:unset;
}
.order1{
    order:0;
}
.order3{
    order:0;
    height: 1250px;
}

.order8{
    order: 1;
}

.yellow{
    width: 500px;
    height: 500px;
}

@media only screen and (max-width: 768px){

    .flexContainer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    }

@media only screen and (max-width: 1024px){
    .flexContainer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .flexContainerSplit{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .order1{
        order:-2;
    }
    .order3{
        order:-1;
    }
}